.roleBadge {
    margin: 0 1px 0 3px;
    padding: 4px;

    font-size: 14px;
    font-weight: 500;

    color: rgb(66, 68, 72);
    background-color: rgba(66, 68, 72, 0.35);

    border-radius: 3px;
}

.a-author {
    color: rgb(191, 154, 43);
    background-color: rgba(191, 154, 43, 0.22);
}

.wu-author {
    color: rgb(22,197,115);
    background-color: rgba(22,197,115, 0.22);
}

.infra {
    color: rgb(118, 70, 220);
    background-color: rgba(118, 70, 220, 0.35);
}

.management {
    color: rgb(66, 158, 151);
    background-color: rgba(66, 158, 151, 0.35);
}

.ai {
    color: rgb(235, 59, 64);
    background-color: rgba(235, 59, 64, 0.35);
}

.theory {
    color: rgb(213, 146, 57);
    background-color: rgba(213, 146, 57, 0.35);
}