b {
    font-weight: 700;
}

.opt-link.secondary {
    background-color: transparent;

    border-bottom: 3px solid rgba(var(--text-color-200), 0);
    border-radius: 0;
}

.opt-link.secondary:hover {
    background-color: transparent;

    border-bottom: 2px solid rgba(var(--text-color-200), var(--alpha-3));
}

.content-block {
    width: 50%;

    padding: 32px;

    background-color: rgb(var(--box-background-color));

    box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));

    border: hidden;
    border-radius: 4px;
}

.info-content-retainer {
    top: 0;

    padding: 24px;
    position: fixed;
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: rgba(var(--shadow-color-1), var(--alpha-1));
    backdrop-filter: blur(6px);

    z-index: 1;
}

.pop-up-info {
    top: 3%;

    position: absolute;
    display: flex;
    justify-content: center;

    height: 94%;
    width: 100%;

    transition: 0.4s;

    z-index: 1;

    overflow: auto;
}

.pop-up-info::-webkit-scrollbar {
    width: 0;
}

.info-content-block {
    position: absolute;

    width: 50%;

    padding: 32px;

    background-color: rgb(var(--box-background-color));

    box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));

    border: hidden;
    border-radius: 4px;
}

.tag {
    margin: 4px 4px 12px 0;
    padding: 3px;

    cursor: pointer;

    width: fit-content;

    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 18px;
    border-radius: 3px;

    color: rgba(var(--text-color-050));
    background-color: rgba(var(--text-color-300), var(--alpha-3));

}

.tag:hover {
    background-color: rgba(var(--text-color-300), var(--alpha-4));
}

.hl {
    margin: 4px 4px 12px 0;
    padding: 4px;

    user-select: text;

    color: rgb(var(--primary-color));
    background-color: rgba(var(--primary-color), var(--alpha-1));

    border-radius: 3px;
}

.hl::selection {
    background-color: rgba(var(--primary-color), var(--alpha-3));
}

.code-field {
    user-select: text;
    max-width: 100%;
    padding: 12px;

    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 18px;

    word-wrap: break-word;
    
    color: rgba(var(--text-color-050));
    background-color: rgba(var(--text-color-300), var(--alpha-1));

    border-left: 5px solid rgba(var(--text-color-300), var(--alpha-2));
}

.license {
    text-align: center;
}

.license a,.reference-box a, .info-content a, .content-block a {
    color: rgb(var(--primary-color));
    text-decoration: underline;
}

hr {
    height: 1px;
    margin: 32px 0 16px 0;

    border: none;
    background-color: rgba(var(--text-color-200), var(--alpha-2));
}

.ref-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reference-box {
    max-width: 20vw;

    margin: 24px 18px;
    padding: 24px;

    border-radius: 3px;
    border-left: 5px solid rgba(var(--primary-color), 0);

    background-color: rgba(var(--background-color));

    box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));

    transition: 0.5s;
}

.reference-box:hover {
    transform: scale(1.1);
    border-left: 5px solid rgba(var(--primary-color), 1);
}

.ref-box-icon {
    height: 24px;
    width: 24px;

    margin-bottom: 12px;

    color: rgb(var(--text-color-100));

    transition: 0.5s;
}

.reference-box:hover .ref-box-icon {
    color: rgb(var(--primary-color));
}

.syntax {
    user-select: text;

    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 18px;
}

.syntax.parameter {
    color: rgb(118, 147, 119);
}

.syntax.request {
    color: rgb(128, 161, 193);
}

.pop-up-header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.close-btn {
    height: 24px;
    width: 24px;

    display: flex;

    align-items: center;
    justify-content: center;

    cursor: pointer;

    color: rgb(var(--text-color-200));
    background-color: rgba(var(--text-color-300), var(--alpha-3));

    border: none;
    border-radius: 25px;
}

.close-btn:hover {
    background-color: rgba(var(--text-color-300), var(--alpha-4));
}

.close-icon {
    height: 14px;
    width: 14px;
}

@media only screen and (max-width: 992px) {
    .content-block {
        width: 75%;
    }

    .reference-box {
        max-width: 25vw;
    }
}

@media only screen and (max-width: 768px) {
    .content-block {
        width: 90%;
    }

    .reference-box {
        max-width: initial;
    }
}