b {
    font-weight: 700;
}

.opt-link.secondary {
    background-color: transparent;

    border-bottom: 3px solid rgba(var(--text-color-200), 0);
    border-radius: 0;
}

.opt-link.secondary:hover {
    background-color: transparent;

    border-bottom: 2px solid rgba(var(--text-color-200), var(--alpha-3));
}

.content-block {
    width: 50%;

    padding: 32px;

    background-color: rgb(var(--box-background-color));

    box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));
    -webkit-box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));
    -moz-box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));

    border: hidden;
    border-radius: 4px;
}

.tag {
    margin: 4px 6px 12px 0;
    padding: 4px;

    cursor: pointer;

    width: fit-content;

    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 18px;
    border-radius: 3px;

    color: rgba(var(--text-color-050));
    background-color: rgba(var(--text-color-300), var(--alpha-3));

}

.tag:hover {
    background-color: rgba(var(--text-color-300), var(--alpha-4));
}

.hl {
    margin: 4px 6px 12px 0;
    padding: 4px;

    user-select: text;

    color: rgb(var(--primary-color));
    background-color: rgba(var(--primary-color), var(--alpha-1));

    border-radius: 3px;
}

.hl::selection {
    background-color: rgba(var(--primary-color), var(--alpha-3));
}

.code-field {
    user-select: text;
    max-width: 100%;
    padding: 12px;

    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 18px;

    word-wrap: break-word;
    
    color: rgba(var(--text-color-050));
    background-color: rgba(var(--text-color-300), var(--alpha-1));

    border-left: 5px solid rgba(var(--text-color-300), var(--alpha-2));
}

.license {
    text-align: center;
}

.license a,.reference-box a {
    color: rgb(var(--primary-color));
    text-decoration: underline;
}

hr {
    height: 1px;
    margin: 32px 0 16px 0;

    border: none;
    background-color: rgba(var(--text-color-200), var(--alpha-2));
}

.ref-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reference-box {
    max-width: 20vw;

    margin: 24px 18px;
    padding: 24px;

    border-radius: 3px;
    border-left: 5px solid rgba(var(--primary-color), 0);

    background-color: rgba(var(--background-color));

    box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));
    -webkit-box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));
    -moz-box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));

    transition: 0.5s;
}

.reference-box:hover {
    transform: scale(1.1);
    border-left: 5px solid rgba(var(--primary-color), 1);
}

.ref-box-icon {
    height: 24px;
    width: 24px;

    margin-bottom: 12px;

    color: rgb(var(--text-color-100));

    transition: 0.5s;
}

.reference-box:hover .ref-box-icon {
    color: rgb(var(--primary-color));
}

.syntax {
    user-select: text;
}

.syntax.parameter {
    color: rgb(223, 115, 115);
}

.syntax.request {
    color: rgb(151, 146, 227);
}

.syntax.parameter::selection {
    background-color: rgba(223, 115, 115, var(--alpha-3));
}

.syntax.request::selection {
    background-color: rgba(151, 146, 227, var(--alpha-3));
}