:root {
    --tile-color-000: 50, 122, 184;
    --tile-color-001: 58, 217, 167;
    --tile-color-002: 255, 194, 71;
    --tile-color-003: 153, 81, 179;
    --tile-color-004: 205, 76, 76;
    --inactive-tile-color: 79, 81, 101;

    --primary-color: 248, 112, 96;
    --secondary-color: 24, 67, 90;
    --tertiary-color: 108, 70, 79;

    --text-color-050: 29, 28, 38;
    --text-color-100: 60, 59, 74;
    --text-color-200: 104, 103, 121;
    --text-color-300: 212, 209, 206;
    --text-color-500: 246, 245, 244;

    --background-color: 242, 239, 239;
    --shadow-color: 39, 38, 49;

    --alpha-1: 0.28;
    --alpha-2: 0.36;
}

* {
    user-select: none;
    font-family: 'Lato', sans-serif;
    line-height: 1.65em;
}

h1 {
    font-weight: 900;
    font-size: 32px;

    color: rgb(var(--text-color-050));
}

h2 {
    font-weight: 700;
    font-size: 24px;

    color: rgb(var(--text-color-100));
}

p {
    font-weight: 300;
    font-size: 18px;

    color: rgb(var(--text-color-200));
}

p.input {
    padding: 0 9px;
    width: fit-content;

    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    border-radius: 3px;

    color: rgba(var(--primary-color));
    background-color: rgba(var(--primary-color), var(--alpha-1));
}

p.input:hover {
    background-color: rgba(var(--primary-color), var(--alpha-2));
}

.container {
    display: flex;
}

.input-container {
    display: grid;
    grid-template-columns: fit-content(100%) auto;
    grid-column-gap: 9px;
}

.start-btn, .restart-btn {
    padding: 11px 22px;

    font-weight: 300;
    font-size: 18px;
    border: 0 hidden;
    border-radius: 3px;

    color: rgb(var(--text-color-500));
    background-color: rgb(var(--primary-color));

    cursor: pointer;
    transition: 0.2s;
}

.start-btn:hover, .restart-btn:hover {
    background-color: rgb(var(--tertiary-color));
}

.start-btn.inactive, .restart-btn.inactive {
    display: none;
}