:root {
    --tile-color-000: 50, 122, 184;
    --tile-color-001: 58, 217, 167;
    --tile-color-002: 255, 194, 71;
    --tile-color-003: 153, 81, 179;
    --tile-color-004: 205, 76, 76;
    --inactive-tile-color: 214, 215, 224;

    --primary-color: 248, 112, 96;
    --secondary-color: 24, 67, 90;
    --tertiary-color: 108, 70, 79;

    --text-color-050: 29, 28, 38;
    --text-color-100: 60, 59, 74;
    --text-color-200: 104, 103, 121;
    --text-color-300: 212, 209, 206;
    --text-color-500: 246, 245, 244;

    --background-color: 243, 241, 241;
    --box-background-color: 252, 249, 249;
    --shadow-color: 39, 38, 49;

    --alpha-1: 0.28;
    --alpha-2: 0.36;
    --alpha-3: 0.42;
}

* {
    user-select: none;
    font-family: 'Lato', sans-serif;
    line-height: 1.1em;
}

body {
    background-color: rgb(var(--background-color));
}

h1 {
    margin: 12px 0;

    font-weight: 900;
    font-size: 32px;

    color: rgb(var(--text-color-050));
}

h2 {
    margin: 12px 0;

    font-weight: 700;
    font-size: 24px;

    color: rgb(var(--text-color-100));
}

p, span {
    font-weight: 300;
    font-size: 18px;

    color: rgb(var(--text-color-200));
}

.pop-up-frame {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    height: 100%;
    width: 100%;

    backdrop-filter: blur(6px);
    background-color: rgba(var(--shadow-color), var(--alpha-1));

    transition: 0.4s;
}

.game-fail-popup {
    height: auto;
    width: auto;
}

.container {
    display: flex;
}

.block {
    display: flex;
    flex-direction: column;
}

.screen-container {
    margin: 0 32px 16px 0;
    padding: 24px;
    max-width: auto;

    background-color: rgb(var(--box-background-color));

    box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color), var(--alpha-1));
    -webkit-box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color), var(--alpha-1));
    -moz-box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color), var(--alpha-1));

    border: hidden;
    border-radius: 4px;
}

.image-box {
    display: flex;
    flex: auto;
}

.stats-container, .bindings-container {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.bindings-container .output {
    margin-right: 3px;
}

.binding-container {
    margin: 6px 0;
}

.stats-container .output {
    margin-left: 3px;
}

.stat-container {
    margin: 6px 0;
}

span.output {
    user-select: all;

    margin: 24px 0;
    padding: 0 6px;
    width: fit-content;

    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    border-radius: 3px;

    color: rgba(var(--primary-color));
    background-color: rgba(var(--primary-color), var(--alpha-1));
}

span.output:hover {
    background-color: rgba(var(--primary-color), var(--alpha-2));
}

span.output::selection {
    background-color: rgba(var(--primary-color), var(--alpha-3));
}

.error {
    color: rgb(var(--primary-color));
}

.start-btn, .restart-btn {
    padding: 11px 22px;

    font-weight: 300;
    font-size: 18px;
    border: 0 hidden;
    border-radius: 2px;

    color: rgb(var(--text-color-500));
    background-color: rgb(var(--primary-color));

    cursor: pointer;
    transition: 0.2s;
}

.start-btn:hover, .restart-btn:hover {
    background-color: rgb(var(--tertiary-color));
}

.inactive {
    display: none;
}