* {
    user-select: none;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(var(--background-color));
}

h1 {
    margin: 4px 0 24px 0;

    font-weight: 900;
    font-size: 32px;

    color: rgb(var(--text-color-050));
}

h2 {
    margin: 4px 0 12px 0;

    font-weight: 700;
    font-size: 24px;

    color: rgb(var(--text-color-100));
}

p, span {
    font-weight: 300;
    font-size: 18px;

    color: rgb(var(--text-color-200));
}

p {
    line-height: 1.8em;
}

.nav-bar, .color-scheme-box {
    top: 0;
    left: 0;
    position: fixed;

    width: auto;

    margin: 24px;

    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(var(--box-background-color));

    box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));

    border-radius: 45px; 

    z-index: 1;

    transition: 0.5s;
}

.nav-bar.active {
    width: calc(100% - 64px);
    border-radius: 4px;

    background-color: rgba(var(--box-background-color), var(--alpha-3));
    backdrop-filter: blur(10px);
}

.color-scheme-box {
    top: initial;
    left: initial;
    bottom: 0;
    right: 0;
}

.menu-icon, .light-color-scheme-icon, .dark-color-scheme-icon {
    cursor: pointer;
    display: flex;
    align-items: center;

    color: rgb(var(--text-color-200));

    padding: 12px;

    border-radius: 30px;

    transition: 0.2s;
}

.menu-icon .icon, .light-color-scheme-icon, .dark-color-scheme-icon {
    margin: 0;
}

.menu-icon:hover, .light-color-scheme-icon:hover, .dark-color-scheme-icon:hover {
    background-color: rgba(var(--text-color-200), var(--alpha-2));
}

.nav-bar .menu-opts {
    display: none;
}

.nav-bar.active .menu-opts {
    display: flex;
    flex-direction: row;
}

.menu-opt {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.opt-link {
    margin: 0 16px;
}

.opt-link, .opt-link.action-btn {
    padding: 8px 12px;
    border-radius: 2px;

    transition: 0.2s;
}

.opt-link:hover {
    background-color: rgba(var(--text-color-200), var(--alpha-1));
}

.opt-link.current {
    background-color: rgba(var(--text-color-200), var(--alpha-1));
}

.opt-link.current:hover {
    background-color: rgba(var(--text-color-200), var(--alpha-4));
}

.action-btn {
    padding: 11px 14px;
    border-radius: 2px;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(var(--text-color-500));
    background-color: rgb(var(--primary-color));

    font-weight: 300;
    font-size: 18px;
    border: 0 hidden;
    border-radius: 2px;

    box-shadow: 0 3px 0 0 rgb(var(--shadow-color-3));

    cursor: pointer;
    transition: 0.2s;
}

.action-btn span, .action-btn .icon {
    color: rgb(var(--text-color-500));
}

.action-btn .icon {
    color: rgb(var(--text-color-500));
}

.action-btn:hover {
    color: rgb(var(--text-color-500));
    background-color: rgb(var(--tertiary-color));

    box-shadow: 0 3px 0 0 rgb(var(--shadow-color-2));
}

.secondary-btn {
    padding: 11px 14px;
    border-radius: 2px;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(var(--text-color-200));
    background-color: rgb(var(--text-color-500));

    font-weight: 300;
    font-size: 18px;
    border: 0 hidden;
    border-radius: 2px;

    cursor: pointer;
    transition: 0.2s;
}

.secondary-btn:hover {
    color: rgb(var(--text-color-050));
}

.btn-emblem {
    height: 18px;
    width: 18px;

    margin-right: 6px;
}

.icon {
    margin-right: 6px;

    color: rgb(var(--text-color-050));

    height: 1em;
    width: 1em;
}

.color-scheme-box .icon {
    margin: 0;

    color: rgb(var(--text-color-050));

    height: 22px;
    width: 22px;
}

.pop-up-frame {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    height: 100%;
    width: 100%;

    backdrop-filter: blur(6px);
    background-color: rgba(var(--shadow-color-1), var(--alpha-1));

    transition: 0.4s;

    overflow-y: scroll;
}

.game-fail-popup {
    height: auto;
    width: auto;
}

.container {
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: column;
}

.block h2 {
    word-wrap: break-word;
}

.screen-container {
    margin: 0 32px 16px 0;
    padding: 24px;

    background-color: rgb(var(--box-background-color));

    box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));

    border: hidden;
    border-radius: 4px;
}

.image-box {
    display: flex;
    flex: auto;
}

.stats-container, .bindings-container {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.binding-container, .stat-container {
    margin: 5px 5px 7px 0;
}

.hl {
    padding: 4px;

    color: rgb(var(--primary-color));
    background-color: rgba(var(--primary-color), var(--alpha-1));

    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 18px;

    border-radius: 3px;
}

.error {
    margin: 0;
    color: rgb(229, 75, 75);
}

.device-warning {
    margin: 0 32px 16px 0;
    padding: 24px;

    background-color: rgb(var(--box-background-color));

    box-shadow: 0px 12px 24px -12px rgba(var(--shadow-color-1), var(--alpha-1));

    border: hidden;
    border-radius: 4px;

    display: none;
}

@media screen and (max-width: 560px) {
    .nav-bar {
        display: none;
    }

    .screen-container {
        display: none;
    }

    .content-block {
        display: none;
    }

    .info-content-retainer {
        display: none;
    }

    .device-warning {
        display: flex;
        flex-direction: column;
    }
}

.btn-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}